.title {
  text-align: center;
  margin-top: 50px;
}

.main-box {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 100px;
  column-gap: 4%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 28%;
  padding: 20px;
  height: 400px;
  background: linear-gradient(
    to right,
    #f8f9fb23,
    #f8f9fb23,
    #92929223,
    #f8f9fb23,
    #f8f9fb23
  );
  box-shadow: 0 0 20px #f8f9fb;
  border-radius: 20px;
  border-radius: 20px;
}

.button-cs {
  width: 10em;
  place-content: center;
  font-size: 20px;
  font-weight: 600;
  height: 2em;
  cursor: pointer;
  border: none;
}

.one button {
  background: #88b1b9;
  border-radius: 20px;
  transition: 0.1s ease;
}

.one button:hover {
  background: #abb9bc;
}

.two button {
  background: #e28888;
  border-radius: 20px;
}

.two button:hover {
  background: #de9b9b;
}

i {
  font-size: 40px;
}

.three button {
  background: #a66ad0;
  border-radius: 20px;
}
