.orders-section {
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  column-gap: 50px;
  max-width: 1266px;
}

#order-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  margin-bottom: 40px;
  height: 200px;
  padding: 20px;
  background: linear-gradient(
    to right,
    #f8f9fb23,
    #f8f9fb23,
    #92929223,
    #f8f9fb23,
    #f8f9fb23
  );
  box-shadow: 0 0 20px #f8f9fb;
  border-radius: 30px;
}

.order-product-container-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 60% 10%;
  margin-bottom: 40px;
  height: 200px;
  padding: 20px;
  background: linear-gradient(
    to right,
    #f8f9fb23,
    #f8f9fb23,
    #92929223,
    #f8f9fb23,
    #f8f9fb23
  );
  box-shadow: 0 0 20px #f8f9fb;
  border-radius: 30px;
}

.img-product-container {
  display: flex;
  height: 70%;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.quantity-controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.quantity-controls label {
  font-size: 16px;
  margin-right: 10px;
}

.quantity-box {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #cbcbcb);
  border-radius: 4px;
  overflow: hidden;
}

.qty-increase,
.qty-decrease {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #c7c6c6, #cbcbcb);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.qty-increase:hover,
.qty-decrease:hover {
  background: #757575;
}

.quantity {
  width: 40px;
  height: 30px;
  background: linear-gradient(to bottom, #ffffff, #cbcbcb);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #000;
  text-align: center;
}
.order-product-img {
  height: 130px;
}

.order-product-text {
  align-self: center;
  margin-bottom: 10px;
}

.add-lines-box {
  display: flex;
}

.productnqty-price {
  color: #eef2ec;
  font-size: 24px;
  font-weight: 500;
}

.order-product-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

.order-product-delete {
  height: 12px;
  justify-self: end;
  margin-right: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.quantity-box {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.sub-price {
  font-size: 16px;
  font-weight: 600;
}

.sub-price-cell {
  font-size: 24px;
}

.span-1 {
  color: #88b1b9;
}

.span-2 {
  color: #dfc5c5;
}

.price-details {
  width: 100%;
  padding: 35px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    #f8f9fb23,
    #f8f9fb23,
    #97797923,
    #f8f9fb23,
    #f8f9fb23
  );
  box-shadow: 0 0 20px #f8f9fb;
}

.price-details-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}

.pricing-section {
  display: flex;
  justify-content: center;
  width: 600px;
}

.total-product-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6px;
}

.total-sub-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6px;
}

.total-savings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6px;
}

.total-order-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.order-total-title {
  font-size: 22px;
}

.order-total {
  font-size: 22px;
}

.add-sub-price {
  color: #c9b7d6;
  font-weight: 500;
}

.next-button {
  width: 19.5%;
  color: #2e2e2e;
  height: 2.8em;
  font-size: 20px;
  font-weight: 600;
  background: #e0e3e7;
  box-shadow: 10px 10px 15px 5px rgba(24, 24, 24, 0.288);
  cursor: pointer;
  text-align: center;
  place-content: center;
}

.next-button:hover {
  background: linear-gradient(to bottom, #ffffff, #cbcbcb);
}

.next-row {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1266px;
}

.products-back {
  text-decoration: underline;
  color: #c9b7d6;
}

@media screen and (max-width: 1405px) {
  .order-product-img {
    height: 120px;
  }

  .order-product-name {
    font-size: 18px;
  }

  .productnqty-price {
    font-size: 22px;
  }

  .sub-price {
    font-size: 16px;
    font-weight: 600;
  }

  .sub-price-cell {
    font-size: 22px;
  }

  .add-sub-price {
    font-size: 18px;
  }
}

@media screen and (max-width: 1295px) {
  .order-product-name {
    font-size: 16px;
  }

  .order-product-img {
    height: 100px;
  }
}

@media screen and (max-width: 1173px) {
  .orders-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .productnqty-price,
  .sub-price-cell {
    font-size: 20px;
  }

  .order-product-container,
  .order-product-container-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 350px;
    width: 350px;
  }

  .order-product-text {
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 150px;
  }

  .add-sub-price {
    font-size: 16px;
  }

  .order-product-delete {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .img-product-container {
    align-items: flex-start;
    height: auto;
  }

  .quantity-controls {
    flex-direction: column;
    margin-top: auto;
  }

  .quantity-box {
    margin-right: 8px;
  }

  .quantity-controls label {
    margin-left: 8px;
    margin-bottom: 5px;
  }

  .price-details {
    height: 350px;
  }

  .pricing-section {
    width: 100%;
  }

  #order-container {
    flex-direction: row;
    column-gap: 50px;
    width: 100%;
  }
}

/* Tablet and smaller screens */
@media screen and (max-width: 1024px) {
  .orders-section {
    width: 90%;
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    margin-top: 30px;
  }

  #order-container {
    width: 100%;
    display: flex;

    align-items: center;
  }

  .pricing-section {
    width: 100%;
    margin-top: 20px;
  }

  .price-details {
    height: auto;
    padding: 20px;
  }

  #order-container {
    flex-direction: column;
  }

  .order-product-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 10%;
    justify-content: center;
    align-self: center;
  }

  .order-product-container,
  .order-product-container-2 {
    height: auto;
    grid-template-columns: 25% 65% 10%;
    padding: 15px;
    margin-bottom: 20px;
    width: 80%;
    display: grid;
  }

  .order-product-img {
    height: 120px;
  }

  .order-product-name {
    font-size: 16px;
  }

  .productnqty-price,
  .sub-price-cell {
    font-size: 20px;
  }

  .sub-price,
  .add-sub-price {
    font-size: 14px;
  }

  .quantity-controls {
    flex-direction: row;
    margin-top: 10px;
  }

  .quantity-controls label {
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .quantity-box {
    column-gap: 2px;
  }

  .qty-increase,
  .qty-decrease,
  .quantity {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }

  .price-details-title,
  .order-total-title,
  .order-total {
    font-size: 18px;
  }

  .next-row {
    width: 90%;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .next-button {
    width: 50%;
    font-size: 18px;
    height: 2.5em;
  }

  .products-back {
    font-size: 14px;
  }

  .total-order-container {
    margin-top: 100px;
  }
}

/* Smaller tablets and large phones */
@media screen and (max-width: 768px) {
  .orders-section {
    width: 95%;
  }

  #order-container,
  .pricing-section {
    max-width: 100%;
    align-items: center;
  }

  .order-product-container,
  .order-product-container-2 {
    height: auto;
    grid-template-columns: 25% 65% 10%;
    padding: 15px;
    margin-bottom: 20px;
    width: 80%;
    min-width: 400px;
    display: grid;
  }

  .order-product-img {
    height: 100px;
  }

  .img-product-container {
    height: 60%;
    width: 80%;
  }

  .order-product-name {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .productnqty-price,
  .sub-price-cell {
    font-size: 18px;
  }

  .sub-price,
  .add-sub-price {
    font-size: 12px;
  }

  .quantity-controls {
    margin-top: 5px;
  }

  .quantity-controls label {
    font-size: 12px;
    margin-right: 5px;
  }

  .qty-increase,
  .qty-decrease,
  .quantity {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .order-product-delete {
    height: 10px;
    margin-right: 5px;
    margin-top: 3px;
  }

  .price-details {
    padding: 15px;
  }

  .price-details-title,
  .order-total-title,
  .order-total {
    font-size: 16px;
  }

  .total-product-price,
  .total-subscriptions,
  .total-savings,
  .month-starts {
    font-size: 14px;
  }

  .next-button {
    width: 60%;
    font-size: 16px;
  }

  .products-back {
    font-size: 12px;
  }
  .total-product-price,
  .total-subscriptions,
  .total-savings,
  .month-starts {
    font-size: 16px;
  }

  .total-order-container {
    margin-top: 100px;
  }

  .price-details-title,
  .order-total-title,
  .total-product-price-title,
  .total-savings-title,
  .order-total {
    font-size: 16px;
  }
  .price-details {
    padding: 10px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 500px) {
  .orders-section {
    margin-top: 20px;
    width: 95%;
    margin-top: 20px;
    display: flex; /* Keep flex to center content */
    flex-direction: column;
    align-items: center; /* Center children horizontally */
  }

  .img-product-container {
    height: auto;
    width: 50%;
    margin: 0 auto;
  }

  .quantity-box {
    margin-right: 8px;
  }

  .next-row {
    width: 98%;
    gap: 10px;
    margin-bottom: 20px;
  }

  .next-button {
    width: 80%;
    font-size: 14px;
    height: 2.2em;
  }

  .total-order-container {
    margin-top: 100px;
  }

  .order-product-container,
  .order-product-container-2 {
    display: grid;

    grid-template-columns: 100%; /* Stack image, text, and delete button */
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 210px !important; /* Override previous width declarations */
    min-width: 210px; /* Ensure minimum width */
    height: 210px;
    padding-bottom: 20px;
    box-sizing: border-box; /* Include padding in width */
  }

  .pricing-section {
    padding: 10px;
    border-radius: 15px;
    width: 100%;
  }

  .price-details-title,
  .order-total-title,
  .total-product-price-title,
  .total-savings-title,
  .order-total {
    font-size: 16px;
  }

  .total-product-price,
  .total-subscriptions,
  .total-savings,
  .month-starts {
    font-size: 16px;
  }

  .qty-increase,
  .qty-decrease,
  .quantity {
    width: 24px;
    height: 24px;
    font-size: 10px;
  }

  #order-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center children */
    width: 100%; /* Full width of parent */
  }

  .order-product-img {
    height: 65px;
  }

  .order-product-text {
    margin-left: 10px;
    padding-bottom: 20px;
    padding-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 125px;
  }

  .sub-price-cell {
    margin-top: 18px;
  }

  .order-product-delete {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .order-product-name {
    font-size: 14px;
    margin-bottom: 0px;
  }

  .productnqty-price,
  .sub-price-cell {
    font-size: 16px;
  }

  .sub-price,
  .add-sub-price {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .quantity-controls {
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    margin-left: 1px;
    margin-top: 20px;
  }

  .quantity-controls label {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .price-details {
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    min-height: 280px;
  }

  .products-back {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
