.cred-box {
  margin-block: 50px;
  width: 576px;
  margin-inline: auto;
  padding: 35px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    #f8f9fb23,
    #f8f9fb23,
    #97797923,
    #f8f9fb23,
    #f8f9fb23
  );
  box-shadow: 0 0 20px #f8f9fb;
}

.login-header2 {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0px 0 20px 0;
}

.login-header2 header {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 5px;
}

.sinput-box2 {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.sinput-box2 label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #555;

  transition: 0.15s ease-in-out;
}

.sinput-box2 input {
  width: 100%;
  height: 50px;

  border: none;
}

.sinput-box2 .sinput-field2 {
  font-size: 1em;
  color: #333;
  padding-left: 15px;

  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}

.sinput-box2 .sinput-field2:focus {
  border: 2px solid #868686;
}

.sinput-field2:focus ~ label,
.sinput-field2:valid ~ label {
  top: -16px;
  left: -4px;
  font-size: 12px;
  color: #ffffff;
  background: #ffffff00;
  padding: 0 5px;
}

.sinput-field2:valid ~ label {
  color: #ffffff;
}

.sub-button2 {
  width: 33%;

  margin-top: auto;
  margin-left: auto;
}

.login-header2 p {
  color: #f1f1f1;
  font-size: 16px;
}

.reset-1 {
  width: 80%;
  margin-inline: auto;
  margin-top: 50px;
}

.login-header2 span {
  margin-left: 2px;
  cursor: pointer;
  color: #c9b7d6;
}

.reset-1 .login-p2 {
  font-size: 14.5px;
}

#hero {
  height: 550px;
}

.input-submit2 {
  background: #97797987;
  cursor: pointer;
}

@media screen and (max-width: 1155px) {
  .reset-1 {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .reset-1 {
    width: 95%;
  }
  .login-header2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 10px 0;
  }
}

@media screen and (max-width: 672px) {
  .cred-box {
    width: 400px;
    height: 320px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 554px) {
  .cred-box {
    width: 350px;

    height: 300px;
  }
  .login-header2 {
    margin-top: 5px;
  }

  .login-header2 header {
    margin-bottom: 0px;
  }

  .first-line2 header {
    font-size: 22px;
  }

  .login-header2 p {
    font-size: 17px;
  }

  .sinput-box2 input {
    height: 40px;
  }

  .sinput-box2 label {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #555;
    transition: 0.15s ease-in-out;
  }

  .sinput-box2 .sinput-field2 {
    font-size: 1em;
    color: #333;
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
  }

  .reset-1 {
    text-align: start;
  }
}

@media screen and (max-width: 480px) {
  .reset-1 {
    text-align: center;
    margin-inline: auto;
  }
}

@media screen and (max-width: 416px) {
  .cred-box {
    width: 300px;
    padding-inline: 20px;
  }
}
